@import "tailwindcss";

/* animação pro menu mobile */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}

/* contraste global */
.high-contrast {
  filter: contrast(1.3) brightness(1.1) saturate(1.2);
  transition: filter 0.3s ease;
}

/* modo escuro base */
html.dark {
  color-scheme: dark;
}

body.dark {
  background-color: #1A1A1A; /* slate-900 */
  color: #e2e8f0; /* slate-200 */
}
